CompileFlags:
  Add:
    - -std=c++20
    - -Wno-c2y-extensions
    - -Wno-unknown-warning-option

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - modernize-use-nullptr
      - modernize-use-override
      - modernize-use-using
      - modernize-loop-convert
      - readability-*
      - misc-*
      - cppcoreguidelines-pro-type-member-init
      - cppcoreguidelines-init-variables
    Remove:
      - readability-magic-numbers
      - readability-identifier-length
      - readability-named-parameter
      - readability-implicit-bool-conversion
      - readability-else-after-return
      - readability-function-cognitive-complexity
      - bugprone-easily-swappable-parameters
      - misc-non-private-member-variables-in-classes
      - misc-include-cleaner
    CheckOptions:
      readability-identifier-naming.VariableCase: lower_case
      readability-identifier-naming.ClassCase: CamelCase

Index:
  Background: Build
  StandardLibrary: Yes

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
