root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{c,cc,cpp,cxx,h,hh,hpp,hxx,ipp,inl,tpp}]
indent_size = 4
max_line_length = 100

[{CMakeLists.txt,*.cmake,*.cmake.in}]
indent_size = 2

[Makefile]
indent_style = tab

[*.{md,markdown}]
trim_trailing_whitespace = false

[*.{yml,yaml,json,toml}]
indent_size = 2

[*.{sh,bash}]
indent_size = 2

[*.{bat,cmd,ps1}]
end_of_line = crlf
